.overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #99adbf;
    z-index: 1;
    display: flex;

    input {
        font-size: 16px;
        padding: 12px 0 7px 8px;
        background-color: #fafafa;
        color: #262626;
        border: none;
        outline: none;
        width: 100%;
    }

    main {
        background-color: #fff;
        width: 350px;
        margin: 40px auto 0;
        padding: 0 40px;
        border: 1px solid #e6e6e6;
        border-radius: 1px;
    }

    form.login {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0;
        }

        label {
            color: #999;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            overflow: hidden;
            position: absolute;
            right: 0;
            left: 8px;
            -webkit-transform-origin: left;
            transform-origin: left;
            -webkit-transition: -webkit-transform ease-out .1s;
            transition: transform ease-out .1s;
            transition: transform ease-out .1s,-webkit-transform ease-out .1s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        button {
            background-color: #3897f0;
            border: 1px solid #3897f0;
            border-radius: 4px;
            color: #fff;
            margin: 10px 0;
            height: 32px;
        }

        .input-box {
            position: relative;
            border: 1px solid #efefef;
            border-radius: 3px;
            margin: 5px 0;
        }

        .input-box.active label {
            -webkit-transform: scale(.83333) translateY(-10px);
            transform: scale(.83333) translateY(-10px);
            font-size: 12px;
        }
    }
}

.hidden {
    display: none;
}
