.sidenav {
    background: #920000;

    ul li a {
        display: block;
        padding: 0.5rem 1rem;
        color: white;
    }

    ul li a.current {
        background: #002c56;
    }

}

/* Only stick side navbar if it can fit */
@media (min-height: 300px) {
    .sidenav .gallery-list {
      position: sticky;
      top: 0;
    }
}